<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <!-- Anything you want -->
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.spline.ai">Spline.ai</a>.</strong> All rights reserved.
 </footer>